// @font-face {
//   src: url(../fonts/CutiveMono-Regular.ttf);
//   font-family: "Cutive Mono", monospace;
// }

/*---------Cutive Mono---------*/
// @font-face {
//   src: url(../fonts/Jura-Bold.ttf);
//   font-family: "Jura";
// }

/*---------Kenoky---------*/

@font-face {
  src: url(../fonts/KenokyLight.ttf);
  font-family: "KenokyLight";
}
/*---------Coffekan---------*/
@font-face {
  src: url(../fonts/CoffekanRegular.ttf);
  font-family: "CoffekanRegular";
}
/*---------Poppins-Light---------*/
@font-face {
  src: url(../fonts/Poppins-Light.ttf);
  font-family: "Poppins-Light";
}
/*---------PoppinsThin---------*/
@font-face {
  src: url(../fonts/Poppins-Thin.ttf);
  font-family: "PoppinsThin";
}

/*---------RobotoBlack---------*/
@font-face {
  src: url(../fonts/Roboto-Black.ttf);
  font-family: "RobotoBlack";
}
//  NEW
/*---------Syncopate---niceo-ne------------------*/
@font-face {
  src: url(../fonts/Syncopate-Regular.ttf);
  font-family: "Syncopate-Regular";
}

@font-face {
  src: url(../fonts/Syncopate-Bold.ttf);
  font-family: "Syncopate-Bold";
}
