@import "_fonts";
//
//
::before,
::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  height: 100%;
}

.page {
  display: flex;
  flex-wrap: wrap;

  //
  //
  .app {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    //

    .todo-container {
      width: 50%;
      margin-top: 100px;
      min-height: 40vh;
      padding: 3vh 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      // background-color: rgb(240, 237, 233);

      // box-shadow: 0.5rem 0.5rem rgb(0, 49, 185);
      //
      h1 {
        font-family: "CoffekanRegular";
        font-size: 5rem;
        font-weight: 600;
      }
      h2 {
        margin-top: 1em;
        font-family: "Poppins-Light";
        font-size: 1.2rem;
        font-weight: 100;
        text-transform: uppercase;
      }

      .input-container {
        margin-top: 2rem;
      }
      input {
        color: rgb(44, 44, 44);
        padding: 10px 25px;
        margin-top: 2rem;
        border-radius: 5rem;
        border: 0.5px solid #000;
        font-size: 1rem;
        font-weight: 600;
        font-family: "PoppinsThin";
      }
    }
    //
    //
    p {
      margin-top: 1rem;
      color: rgb(172, 172, 172);
      font-family: "PoppinsThin";
      font-weight: 600;
      border-bottom: 1px dotted rgb(172, 172, 172);
    }

    //
  }
}
//@at-root//@at-root

.btn-card {
  cursor: pointer;
  margin-top: 30px;
  padding: 12px 24px;

  border-bottom: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;

  font-weight: 100;
  font-size: calc(7px + 1vmin);
  text-transform: lowercase;
  font-style: italic;
  letter-spacing: 2px;
  color: rgb(29, 29, 29);
  background-color: transparent;
}

.btn-card:hover {
  font-size: calc(7px + 1vmin);
  color: rgba(46, 46, 46, 0.562);
}

/* ---------------- */
body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(167, 167, 167);
}

body::-webkit-scrollbar-thumb {
  background-color: black;
  outline: none;
}

/* --------------- */
/* --------------- */
